<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="酒店后台管理应用.Properties.Settings.HotelDBConnectionString"
            connectionString="Data Source=LAPTOP-8PAESPIS;Initial Catalog=HotelDB;Persist Security Info=True;User ID=sa;Password=asdjb12138"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>