USE [master]
GO
/****** Object:  Database [HotelDB]    Script Date: 2020/12/31 20:20:06 ******/
CREATE DATABASE [HotelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelDB', FILENAME = N'D:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelDB_log', FILENAME = N'D:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelDB]
GO
/****** Object:  Table [dbo].[房间信息]    Script Date: 2020/12/31 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[房间信息](
	[房间号] [varchar](6) NOT NULL,
	[房间类型] [varchar](10) NOT NULL,
	[价格] [varchar](10) NOT NULL,
	[床型] [varchar](50) NOT NULL,
	[窗型] [varchar](50) NOT NULL,
	[状态] [varchar](10) NOT NULL,
 CONSTRAINT [PK_房间信息] PRIMARY KEY CLUSTERED 
(
	[房间号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[经理信息]    Script Date: 2020/12/31 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[经理信息](
	[经理号] [varchar](4) NOT NULL,
	[经理姓名] [varchar](10) NOT NULL,
 CONSTRAINT [PK_经理信息] PRIMARY KEY CLUSTERED 
(
	[经理号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[客户]    Script Date: 2020/12/31 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[客户](
	[客户编号] [int] NOT NULL,
	[客户身份证号] [varchar](20) NOT NULL,
	[客户姓名] [varchar](10) NOT NULL,
	[客户手机号] [varchar](11) NOT NULL,
	[账户余额] [float] NOT NULL,
	[客户类别] [varchar](10) NOT NULL,
	[享受折扣] [float] NOT NULL,
	[状态] [varchar](10) NOT NULL,
 CONSTRAINT [PK_客户] PRIMARY KEY CLUSTERED 
(
	[客户编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[历史订单]    Script Date: 2020/12/31 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[历史订单](
	[订单号] [int] NOT NULL,
	[客户编号] [int] NOT NULL,
	[入住房间号] [varchar](3) NOT NULL,
	[入住时间] [date] NOT NULL,
	[实际退房时间] [date] NOT NULL,
	[超时缴费] [float] NOT NULL,
	[总消费] [float] NOT NULL,
 CONSTRAINT [PK_历史订单] PRIMARY KEY CLUSTERED 
(
	[订单号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[入住信息]    Script Date: 2020/12/31 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[入住信息](
	[订单号] [int] NOT NULL,
	[客户编号] [int] NOT NULL,
	[入住房间号] [varchar](3) NOT NULL,
	[入住时间] [date] NOT NULL,
	[计划天数] [int] NOT NULL,
	[预计退房时间] [date] NOT NULL,
	[订单状态] [varchar](10) NOT NULL,
 CONSTRAINT [PK_入住信息] PRIMARY KEY CLUSTERED 
(
	[订单号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[员工信息]    Script Date: 2020/12/31 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[员工信息](
	[员工号] [varchar](4) NOT NULL,
	[员工姓名] [varchar](10) NOT NULL,
	[员工性别] [varchar](10) NOT NULL,
	[员工身份证号] [varchar](18) NOT NULL,
	[员工职位] [varchar](10) NOT NULL,
	[员工工资] [varchar](10) NOT NULL,
	[员工密码] [varchar](10) NOT NULL,
	[员工手机号] [varchar](11) NOT NULL,
 CONSTRAINT [PK_员工信息] PRIMARY KEY CLUSTERED 
(
	[员工号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [index_room_id]    Script Date: 2020/12/31 20:20:07 ******/
CREATE NONCLUSTERED INDEX [index_room_id] ON [dbo].[房间信息]
(
	[房间号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_wker_id]    Script Date: 2020/12/31 20:20:07 ******/
CREATE NONCLUSTERED INDEX [index_wker_id] ON [dbo].[客户]
(
	[客户编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_客户]    Script Date: 2020/12/31 20:20:07 ******/
CREATE NONCLUSTERED INDEX [IX_客户] ON [dbo].[客户]
(
	[客户编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [index_yg_id]    Script Date: 2020/12/31 20:20:07 ******/
CREATE NONCLUSTERED INDEX [index_yg_id] ON [dbo].[员工信息]
(
	[员工号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[客户]  WITH CHECK ADD  CONSTRAINT [FK_客户_客户] FOREIGN KEY([客户编号])
REFERENCES [dbo].[客户] ([客户编号])
GO
ALTER TABLE [dbo].[客户] CHECK CONSTRAINT [FK_客户_客户]
GO
/****** Object:  StoredProcedure [dbo].[proc_PhoneNum]    Script Date: 2020/12/31 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_PhoneNum]
	@randCardID varchar(19) OUTPUT,      --输出参数
	@firstNo varchar(4)='156'   --输入参数，有默认值
	AS
		DECLARE @r numeric(15,8)   --15位数，保留8位小数
		DECLARE @tempStr char(10)
 
		select @r=RAND((DATEPART(mm,GETDATE())*100000)+(DATEPART(ss,GETDATE())*1000)+DATEPART(ms,GETDATE()))
		SET @tempStr=@r
		SET @randCardID=@firstNo+SUBSTRING(@tempStr,3,4)+SUBSTRING(@tempStr,7,4)
GO
USE [master]
GO
